<div class="mb-3">
    <label class="form-label">Strength</label>
    <input type="number" class="form-control" name="strength">
  </div>
  <div class="mb-3">
    <label class="form-label">Dexterity</label>
    <input type="number" class="form-control" name="dexterity">
  </div>
  <div class="mb-3">
    <label class="form-label">Constitution</label>
    <input type="number" class="form-control" name="constitution">
  </div>
  <div class="mb-3">
    <label class="form-label">Intelligence</label>
    <input type="number" class="form-control" name="intelligence">
  </div>
  <div class="mb-3">
    <label class="form-label">Wisdom</label>
    <input type="number" class="form-control" name="wisdom">
  </div>
  <div class="mb-3">
    <label class="form-label">Charisma</label>
    <input type="number" class="form-control" name="charisma">
  </div>
  